.ReactModal__Overlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: auto;
    z-index: 2;
}

.ReactModal__Content{
    overflow: inherit !important;
    position: absolute !important;
    border: 1px solid rgb(204, 204, 204) !important;
    background: rgb(255, 255, 255) !important;
    overflow: visible !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 20px !important;
    margin-right: -50% !important;
    transform: translate(-50%, 30px) !important;
    top: 0 !important;
    left: 50% !important;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
}

.modal-close img{
    width: 50px;
    position: relative;
    top: -20px;
    right: -20px;
}

.dropzone.error{
    border-color: #d32f2f !important;
}

.submitButton, .closeButton {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MuiFormControlLabel-root.error{
    color: #d32f2f !important;
}

.modalUpload em{
    
}