.home b{
	color: #fff;
}

.home .github-corner svg{
	z-index: 1;
}

.home .github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-25deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

.home .content-page{
	padding: 50px 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home .logo{
	display: flex;
	align-items: center;
}

.home .search__form {
	margin: 0;
}

.home .search--open{
	height: 180px !important;
}


.home .search-wrap {
	margin-right: 50px;
  z-index: 2;
}

.home #btn-search-close{
	margin-right: 25px;
    z-index: 9999;
}

.home .content-page.faq{
	background-color: beige;
	color: #22295f;
}

.home .content-page.faq a{
	color: #22295f;
	font-weight: 800;
}

.home .content-page.listing{
	color: #fff;
}

.home .copyright{
	text-align: center;
	padding: 20px;
}

.home .content-intro{
	width: 100%;
}

.home .content-intro h1{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 60px;
}

.home .content{
	height: 100%;
}

.home .card{
	height: 100%;
	color: #454545;
}

.home .latest{
	padding: 60px 0;
	max-height: 1000px;
  	overflow: auto;
	border-bottom: 2px solid #fff;
}

.home .card b, .home .card a{
	color: #454545;
}

.home .main-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #22295f;
	background-image: none;
	/*background-image: url(/assets/img/bg.svg);*/
	background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;
	overflow: auto;
}

.home .main-wrap .connect-btn{
	padding: 15px 30px;
    border-radius: 50px;
}

.listing-links::after {
	display: none;
}

@media all and (max-width: 1440px) {
	.home .latest {
    padding: 60px 0;
	}	
}

@media all and (max-width: 1024px) {
	.home .content-page {
    padding: 50px 10%;
	}
}

@media all and (max-width: 1024px) {
	.listing-header {
    padding: 2.5em 2.75em 3.5em 1.5em;
	}
}

@media all and (max-width: 768px) {
	.listing-header {
		padding: 4em 0 7rem 0;
	}
	.js .content .search .search__form {
		margin: 0 !important;
    position: absolute;
    right: 40px;
    top: 46px;
    width: 50% !important;
	}
	.home .content-page {
    padding: 30px 5%;
	}
}

@media all and (max-width: 640px) {
	.listing-header {
		padding: 4em 0 7rem 0;
	}
	.js .content .search .search__form {
    width: 100%;
    padding: 0 5%;
	}
	.home .content-page {
    padding: 30px 5%;
	}
}